/**  =====================
      Alert css start
==========================  **/
//
// Base styles
//
@use "../mixins/alert";
@use "../mixins/function";
@use '../variables';
@use "sass:color";

.alert {
    position: relative;
    padding: 15px 20px;
    border-radius: 0;
}
// Provide class for links that match alerts

.alert-link {
    font-weight: 400;
}

.alert-dismissible {
    padding-right: 40px;
    // Adjust close link position
    .close {
        padding: 14px 10px;
    }
}
// Alternate styles
//
// Generate contextual modifier classes for colorizing the alert.
@each $color, $value in variables.$theme-colors {
    .alert-#{$color} {
        @include alert.alert-variant(function.theme-color-level( $color, variables.$alert-bg-level),
                                     function.theme-color-level( $color, variables.$alert-border-level),
                                     function.theme-color-level( $color, variables.$alert-color-level)
                                    );
    }
}
/**====== Alert css end ======**/
