@use "sass:color";
@use "sass:list";
@use "../variables";

/**  =====================
      Toolbar css start
==========================  **/
.tool-bottom,
.tool-top {
    .tool-item {
        &:first-child {
            border-top-left-radius: 6px;
            border-bottom-left-radius: 6px;
        }

        &:last-child {
            border-top-right-radius: 6px;
            border-bottom-right-radius: 6px;
        }
    }
}

.tool-left,
.tool-left {
    .tool-item {
        &:first-child {
            border-top-left-radius: 6px;
            border-top-right-radius: 6px;
        }

        &:last-child {
            border-bottom-left-radius: 6px;
            border-bottom-right-radius: 6px;
        }
    }
}
$toolbar-name: primary, warning, light, danger, success, dark, info;
$toolbar-color: variables.$primary-color, variables.$warning-color, variables.$default-color, variables.$danger-color, variables.$success-color, variables.$inverse-color, variables.$info-color;
@each $var in $toolbar-name {
    $i: list.index($toolbar-name, $var);

    .toolbar-#{$var} {
        .tool-item {
            background: list.nth($toolbar-color, $i);

            &.selected,
            &:hover {
                background: color.adjust(list.nth($toolbar-color, $i), $lightness: -10%);
            }
        }

        &.tool-top .arrow {
            border-color: list.nth($toolbar-color, $i) transparent transparent;
        }

        &.tool-bottom .arrow {
            border-color: transparent transparent list.nth($toolbar-color, $i);
        }

        &.tool-left .arrow {
            border-color: transparent transparent transparent list.nth($toolbar-color, $i);
        }

        &.tool-right .arrow {
            border-color: transparent list.nth($toolbar-color, $i) transparent transparent;
        }
    }

    .btn-toolbar-#{$var}.pressed {
        background-color: list.nth($toolbar-color, $i);
    }
}
/**====== Toolbar css end ======**/
